
:global {
  body {
    background-color: #333;
    color: white;
  }

  html, body, main {
    height: 100%;
  }

  main {
    display: flex;
  }
}

.Container {
  flex-grow: 1;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.TVScreen {
  width: 90%;
  padding-bottom: 56.25%;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.HoverLight {
  &:hover {
    &::after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.3);
      display: block;
      cursor: pointer;
    }
  }
}

.CoolButtons {
  composes: HoverLight;
  position: relative;
  font-size: 2em;
  margin: 1em;
  background-color: black;
  color: white;
  border: none;
  width: 100px;
  height: 100px;
  text-align: center;
  cursor: pointer;
}

.PlusButton {
  composes: CoolButtons;
}

.MinusButton {
  composes: CoolButtons;
}

.Region {
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  composes: HoverLight;
  display: flex;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;

  span {
    margin: auto;
    font-size: 2em;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
}
